snippet webscript
	<webscript>
		<shortname>${1:shortname}</shortname>
		<description>${2:$1}</description>
		<url>/${3:$1}</url>
		<format default="${4:xml}">extension</format>
		<authentication>${5:user}</authentication>
	</webscript>

